NEXT_PUBLIC_SITE_URL =
SMTP_HOST =
SMTP_PORT = 465
SMTP_USER =
SMTP_PASSWORD =
GITHUB_TOKEN =
CONVERTKIT_FORM_ID =
CONVERTKIT_API_KEY =
CONVERTKIT_API_URL = https://api.convertkit.com/v3/
ESLINT_NO_DEV_ERRORS = true
ANALYZE = false